/* styles.css */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background: linear-gradient(to right, #4CAF50, #2196F3);
    padding: 20px;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex; /* Add this to enable flex layout */
    align-items: center; /* Vertically center items in the flex container */
    justify-content: center; /* Center items along the container's main axis */
}

header h1 {
    margin: 0;
    font-size: 2em;
    font-family: 'Helvetica', sans-serif; /* Replace with your preferred font */
}

header img {
    width: 80px; /* Adjusted width for the logo */
    height: 80px; /* Adjusted height for the logo */
    border-radius: 50%;
    margin-left: 10px; /* Added margin to the left of the logo */
}

.app-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    width: calc(50% - 40px); /* Adjust the width for two cards per row */
    max-width: 300px;
    height: 250px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
    color: #333;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.card h2 {
    margin: 10px 0;
    font-size: 1.2em;
}

.card .click-icon {
    font-size: 24px;
    margin-left: auto;
}

@media screen and (max-width: 600px) {
    .card {
        width: calc(100% - 40px); /* Adjust the width for one card per row on mobile */
    }
}
